flows_birke.json
[
    {
        "id": "9efe0965.d62e08",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a46d3d1a.60ea3",
        "type": "grove-light-sensor-v1_2",
        "z": "9efe0965.d62e08",
        "name": "",
        "port_number": "2",
        "x": 390,
        "y": 100,
        "wires": [
            [
                "421a3cbc.842224"
            ]
        ]
    },
    {
        "id": "bb941043.44163",
        "type": "inject",
        "z": "9efe0965.d62e08",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "a46d3d1a.60ea3"
            ]
        ]
    },
    {
        "id": "421a3cbc.842224",
        "type": "debug",
        "z": "9efe0965.d62e08",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 100,
        "wires": []
    },
    {
        "id": "91be5914.e0bd88",
        "type": "grove-temperature-humidity-sensor-sht3x",
        "z": "9efe0965.d62e08",
        "name": "",
        "model": "0x44",
        "x": 440,
        "y": 300,
        "wires": [
            [
                "56ff0984.697ce8"
            ]
        ]
    },
    {
        "id": "6a126e1.ccd3b9",
        "type": "inject",
        "z": "9efe0965.d62e08",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "91be5914.e0bd88"
            ]
        ]
    },
    {
        "id": "56ff0984.697ce8",
        "type": "debug",
        "z": "9efe0965.d62e08",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 300,
        "wires": []
    },
    {
        "id": "43d8fb29.6dcfec",
        "type": "inject",
        "z": "9efe0965.d62e08",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 480,
        "wires": [
            [
                "aad1657f.2b5518"
            ]
        ]
    },
    {
        "id": "aad1657f.2b5518",
        "type": "debug",
        "z": "9efe0965.d62e08",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 480,
        "wires": []
    }
]